[submodule "lib/brolib-sml"]
	path = lib/brolib-sml
	url = https://github.com/hummy123/brolib-sml
[submodule "lib/cozette-sml"]
	path = lib/cozette-sml
	url = https://github.com/hummy123/cozette-sml
[submodule "tests/Railroad"]
	path = tests/Railroad
	url = https://github.com/PerplexSystems/Railroad
[submodule "test/Railroad"]
	path = test/Railroad
	url = https://github.com/PerplexSystems/Railroad
